* {
  font-family: Inter;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #0D0D0D;
}

/* -------------------------------------------------- HEADER -------------------------------------------------- */

.top {
  display: flex;
  width: 100%;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
}

.left--header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #181818;
}

.menu--icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  cursor: pointer;
  background-color: #181818;
}

.menu--logo {
  margin-left: 48px;
  width: 100.91px;
  height: 22.381px;
  cursor: pointer;
  background-color: #181818;
}

.center--header {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #181818;
}

.search--field {
  width: 714.53px;
  height: 38px;
  border: 1px solid #2A2A2A;
  outline: 0;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  background-color: #0F0F0F;
  color: #FFFFFF;
  padding-left: 16px;
}

.btn--search {
  width: 78px;
  height: 38px;
  border: 0;
  outline: 0;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  cursor: pointer;
  background-color: #2A2A2A;
}

.btn--search .image--lupe {
  width: 24px;
  height: 24px;
  background-color: #2A2A2A;
}

.btn--microphone {
  width: 38px;
  height: 38px;
  border: 0;
  outline: 0;
  border-radius: 50%;
  margin-left: 32px;
  cursor: pointer;
  background-color: #2A2A2A;
}

.btn--microphone .icon--microphone {
  background-color: #2A2A2A;
}

.right--header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  background-color: #181818;
}

.icon--avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #912DF5;
  margin-right: 12px;
}

.icon--video,
.icon--apps,
.icon--bell,
.icon--avatar {
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: #181818;
}

/* -------------------------------------------------- MENU -------------------------------------------------- */

.side--menu {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  width: 88px;
  height: 310px;
  gap: 32px;
  background-color: #0F0F0F;
}

.btn--nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #0F0F0F;
  cursor: pointer;
}

.btn--name {
  color: #FFFFFF;
  text-align: center;
  font-family: Inter;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 8px;
  margin-left: 2px;
}

/* -------------------------------------------------- BANNER -------------------------------------------------- */

.banner {
  width: 100%;
  background-color: #912DF5;
}

/* -------------------------------------------------- MIDDLE -------------------------------------------------- */

.middle--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top--middle {
  width: 950px;
  margin-top: 25px;
}

.infos--channel {
  display: flex;
  height: 148px;
}

.infos--channel--left {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
}

.avatar--channel {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  background-color: #912DF5;
}

.name--channel--container {
  display: flex;
  flex-direction: column;
  margin-left: 16px;;
}

.name--channel {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 5px;
}

.subscribers--number {
  color: #888888;
  font-family: Roboto;
  font-size: 17.6px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.name--and--check--icon {
  display: flex;
  flex-direction: row;
}

.infos--channel--right {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.subscribe {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  gap: 8px;
  border-radius: 65px;
  outline: 0;
  cursor: pointer;
  background-color: #FFFFFF;
}

.middle--channel--menu {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 32px;
}

.menu--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-family: Roboto;
  font-size: 16px;
  color: #8F8F8F;
  font-weight: 500;
  border: 2px solid transparent;
  cursor: pointer;
}

.lupe {
  align-items: center;
  justify-content: flex-end;
}

.selected--menu--item {
  border-bottom: 2px solid #9A9A9A;
}

.menu--lupe {
  width: 20%;
}

.trailer--container {
  width: 862px;
  height: 124px;
  margin-top: 30px;
  display: flex;
  gap: 30px;
  cursor: pointer;
}

.trailer--video {
  display: flex;
  flex: 1;
}

.video--trailer {
  width: 210px;
}

.trailer--infos {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.title--trailer {
  font-family: Roboto;
  width: 230px;
  height: 23px;
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}

.views--trailer {
  font-family: Roboto;
  font-weight: 170px;
  height: 14px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  margin-top: 8px;
  line-height: normal;
  color: #8F8F8F;
}

.description--trailer {
  font-family: Roboto;
  width: 622px;
  height: 63px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-top: 8px;
  line-height: 150%;
  color: #EFEFEF;
}

.description--link {
  color: #4994FF;
}

.video--list--1--container, .video--list--2--container {
  height: 251px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.newest--videos {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.newest--videos p {
  color: #9A9A9A;
}

.newest--videos--play--all {
  margin-left: 50px;
  padding-right: 10px;
  cursor: pointer;
}

.video--list--1, .video--list--2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
}

.video {
  width: 100%;
  height: 100%;
}

.video--title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 17px;
  width: 128px;
  height: 21px;
  color: #FFFFFF;
}

.channel--name--checked {
  display: flex;
  gap: 5px;
}

.video--channel--name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  width: 105px;
  height: 24px;
  line-height: 150%;
  color: #9A9A9A;
}

.video--views {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  width: 180px;
  height: 24px;
  line-height: 150%;
  color: #9A9A9A;
}
